@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");

html {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

.custom-container {
  width: 100%;
  max-width: 1244px;
  margin: 0 auto;
}

.middle-container{
  width: 940px;
  margin: 0 auto;
}

.small-container {
  width: 100%;
  max-width: 382px;
  margin: 0 auto;
}

.active {
  position: relative;
}

.typography {
  font-family: "ADLaM Display";
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #d90a14 0%, #cd4e17 100%);
}

.circle {
  background: linear-gradient(to right, #cd4e17 0%, #9a070e 100%);
}

.border-gradient::before {
  content: "";
  @apply absolute inset-0 rounded-lg p-[2px] bg-gradient-to-b from-[#D90A14] to-[#CD4E17];
  -webkit-mask:
    linear-gradient(white 0 0) content-box,
    linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@media (max-width: 1200px) {
  .none {
    display: none;
  }

  .full {
    width: 100%;
  }

  .size {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .size {
    font-size: 8px;
  }
}